<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a 
      class="list-group-item"
      *ngFor="let ingredient of ingredients; let i = index"
      (click)="onEditItem(i)"
      >
        <div class="d-flex align-items-center" style="gap: 1rem">
          <span class="qty-col">{{ qtyValue(ingredient) || "–" }}</span>
          <span class="unit-col">{{ unitValue(ingredient) }}</span>
          <span class="name-col">
            {{ ingredient.name }}
          </span>
        </div>
      </a>
    </ul>
  </div>
</div>

<!-- THIS SHOULD BE IN THE RECIPE-DETAIL OR RECIPE-LIST
<button
  class="btn btn-primary my-2"
  type="button"
  (click)="addRecipeToShoppingList()"
>
  Add Recipe
</button> -->
