<form #shoppingForm="ngForm" (ngSubmit)="onAddItem(shoppingForm)">
  <div class="row">
    <div class="col-sm-5 form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        name="name"
        ngModel
        required
      />
    </div>
    <div class="col-sm-2 form-group">
      <label for="amount">Amount</label>
      <input
        type="number"
        id="amount"
        class="form-control"
        name="amount"
        ngModel
        min="0"
        required
      />
      <!-- Instead of min="0" -->
      <!-- pattern="^[1-9]+[0-9]*$" -->
    </div>
    <div class="col-sm-3 form-group">
      <label for="unit">Unit</label>
      <select id="unit" class="form-control" name="unit" ngModel>
        <option value="" selected>Bitte Einheit waehlen</option>
        <!-- Match your Unit union exactly -->
        <option value="g">g</option>
        <option value="kg">kg</option>
        <option value="ml">ml</option>
        <option value="dl">dl</option>
        <option value="l">l</option>
        <option value="EL">EL</option>
        <option value="TL">TL</option>
        <option value="Stk">Stk</option>
        <option value="Bund">Bund</option>
        <option value="Zweig">Zweig</option>
        <option value="Prise">Prise</option>
        <option value="n. B.">n. B.</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!shoppingForm.valid"
      >{{ editMode ? 'Update' : 'Add' }}
        
      </button>
      <button class="btn btn-danger" type="button">Delete</button>
      <button
        class="btn btn-primary"
        type="button"
        (click)="onClear(shoppingForm)"
      >
        Clear
      </button>
    </div>
  </div>
</form>
